*{
    padding: 0;
    margin: 0;
}

body{background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

.dc {
    position: absolute;
    top: 10%;
    left: 40%;
    /* background-color: blanchedalmond; */
    background-color: white;
    border: 6px double black;
    border-radius: 10px;
}


.main-content{
    width: 800px; 
    position:absolute;
    top:50% ;
    left: 50% ;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px black;

}

.text-editor-color{
    background-color: white;
    padding: 5px;
}

.text-editor-header .btn{
    /* border: 2px solid black; */
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    padding-left: 5px;
    /* color: white; */
    /* background-color: white; */
    cursor: pointer;
}

.content{
    min-height: 300px;
    border: 10px solid rgb(236, 162, 52);
    border-top: 0px;
    padding: 20px ;
}

